@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');

* {
  box-sizing: border-box;
  border: solid #5B6DCD 1px;
}

body {
  background-color: #f6f7fb;
  font-family: 'Roboto', 'san-serif';
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}